/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #5b5b5b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.game-area {
  margin: 0 auto;
}
